@import "styles/common";

$color-background: #100836;

.wrapper {
  height: 300px;
  background-color: $color-background;
  padding: 2rem;
  overflow: auto;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hover {
    display: none;
  }
  &:hover {
    outline: 2px solid $color-mva;
    .main {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}

.avatar {
  @include radius(100px)
}

.name {
  @include H2;
  color: $color-mva;
  margin-top: 2rem;
}

.organization {
  @include P2(ZH);
  color: $M1;
  margin-top: 1.5rem;
}


.position {
  @include P2(ZH);
  color: $M1;
  margin-top: .5rem;
}

.links {
  padding-left: 1rem;
  text-align: left;
  li {
    margin-bottom: .5rem;
  }
  a {
    @include P2;
    color: $M1;
    &:hover {
      color: $color-mva;
      text-decoration: underline;
      text-underline: $color-mva;
    }
  }
}
