@import '~/styles/common';

$color-background: #100836;

.wrapper {
  max-width: 220px;
  height: 330px;
  background-color: $color-background;
  padding: 2rem;
  overflow: auto;
  @include responsive-lte-md {
    padding: 1rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hover {
    display: none;
  }
  &:hover {
    outline: 2px solid $color-mva;
    .main {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}

$size-avatar: 100px;
.avatar {
  @include radius($size-avatar);
  img {
    @include radius($size-avatar);
  }
}

.name {
  @include H2;
  color: $color-mva;
  margin-top: 2rem;
}

.organization {
  @include P2(ZH);
  color: $M1;
  margin-top: 1.5rem;
}

.position {
  @include P2(ZH);
  color: $M1;
  margin-top: 0.5rem;
}

.links {
  padding-left: 1rem;
  text-align: left;
  li {
    margin-bottom: 0.5rem;
    &:hover {
      color: $color-mva;
    }
  }
  a {
    @include P2(ZH);
    color: $M1;
    &:hover {
      color: $color-mva;
      text-decoration: underline;
      text-underline: $color-mva;
    }
  }
}
