{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "import/no-anonymous-default-export": 2,
    "no-console": [1, { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "no-use-before-define": "off",
    "react/jsx-no-target-blank": [2, { "allowReferrer": true }],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}
