@import '~/styles/common';

$size-icon: 3rem;

.wrapper {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    align-items: center;
    &_icon {
      img {
        width: $size-icon;
        height: $size-icon;
      }
    }
    &_title {
      @include H1;
      margin-left: 1rem;
    }
  }
  &_right {
  }
}

.background_gray {
  background-color: #f7f8f9;
}

.body {
  margin-top: 3rem;
}
