@import 'styles/common';
@import '../common';

.title_with_color_1 {
  background-color: $color-1;
}

.title_with_color_2 {
  background-color: $color-2;
}

.title_with_color_3 {
  background-color: $color-3;
}

.wrapper {
  box-shadow: 0 0.1875em 0.5em rgba($B1, .1);
  border-radius: .5rem;
  overflow: hidden;
  height: 100%;
}

.title {
  @include P1;
  padding: 1rem 2rem;
  border-bottom: 1px solid $T2;
  color: $M2;
}

.body {
  padding: 1rem 2rem;
  &>div:last-child {
    border: none;
    margin-bottom: 0;
  }
}
