@import '~/styles/common';

$size-slideshow: 20rem;
$size-split: 5rem;
$size-dot: 1rem;

.slideshow {
  width: 100%;

  li {
    margin: 0 0.5rem !important;
  }

  li,
  button {
    overflow: hidden;
    border-radius: $size-dot;
    border: 1px solid #8f8f8f;
    width: $size-dot !important;
    height: $size-dot !important;
  }

  :global(.slick-active) {
    button {
      background-color: #3d3fea !important;
    }
  }

  &_item {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
}

.articles {
  padding: $size-split 0;
}

.top {
  padding: $size-split 0;
}
