version: 2.1
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main

jobs:
  build:
    docker:
      - image: circleci/node:14.13.0
    steps:
      - checkout
      - run: sudo apt update && sudo apt install rsync sshpass
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
#          export static HTML file for deploying
#      - run:
#          command: yarn export
#          no_output_timeout: 20m

      - deploy:
          name: Publish Website Could HK_1_HOST
          command:
            ssh-keyscan "${HOST_HK_1_IP}" >> ~/.ssh/known_hosts 2>/dev/null;
#            copy the static HTML file by 'yarn export' script to nginx webroot
#            sshpass -p ${HOST_HK_1_PASSWORD} rsync -avz -e 'ssh -p 22' out/ "${HOST_HK_1_USER}@${HOST_HK_1_IP}:${DEPLOY_PATH}";
#            use server:reload script to run with server side render instead of export script.
            sshpass -p ${HOST_HK_1_PASSWORD} rsync -avz -e 'ssh -p 22' --delete / "${HOST_HK_1_USER}@${HOST_HK_1_IP}:${DEPLOY_SERVICE_PATH}";
            sshpass -p ${HOST_HK_1_PASSWORD} ssh ${HOST_HK_1_USER}@${HOST_HK_1_IP} 'cd ${DEPLOY_SERVICE_PATH} && yarn server:reload'
