version: 2.1

commands:
  install-deps:
    steps:
      - checkout
      - run: curl -sL https://sentry.io/get-cli/ | bash
      - run: |
          node -v
          npm -v
      - run:
           command: npm ci
           no_output_timeout: 20m

  prepare-sentry:
    steps:
      - run:
          name: Prepare Sentry env variables
          command: |
            echo "export SENTRY_RELEASE=${SENTRY_PROJECT}@${CIRCLE_SHA1}" >> $BASH_ENV

  dump-env-vars:
    steps:
      - run: ./scripts/retrieveEnvVars.js
      - run:
          name: Prepare private env variables
          command: |
            cat .env.local

  verify-and-build:
    steps:
      - run: npm run lint
      - run: npm test
      - run:
          command: npm run build
          no_output_timeout: 5m

  copy-locales:
    steps:
      - run: npm run copy:locales

  deploy-website:
    parameters:
      stage:
        default: 'production'
        type: enum
        enum: ['production', 'preview']
    steps:
      - when:
          condition:
            equal: [<< parameters.stage >>, 'preview']
          steps:
            - run: |
                ssh-keyscan "${HOST_PREVIEW_IP}" >> ~/.ssh/known_hosts 2>/dev/null
                INSTANCES_NUM=1 npm run deploy:<< parameters.stage >>
      - when:
          condition:
            equal: [<< parameters.stage >>, 'production']
          steps:
            - run: |
                ssh-keyscan "${HOST_HK_1_IP}" >> ~/.ssh/known_hosts 2>/dev/null
                INSTANCES_NUM=2 npm run deploy:<< parameters.stage >>

jobs:
  verify:
    docker:
      - image: circleci/node:14.13.0
    parameters:
      stage:
        default: 'production'
        type: enum
        enum: ['production', 'preview']
    environment:
      SENTRY_ORG: pingcap
      SENTRY_PROJECT: tug-website
      ENABLE_SENTRY: 'true'
      SENTRY_NO_PROGRESS_BAR: '1'
      CI_STAGE: << parameters.stage >>
    steps:
      - install-deps
      - prepare-sentry
      - dump-env-vars
      - verify-and-build
      - persist_to_workspace:
          root: .
          paths:
            - ./*

  build:
    docker:
      - image: circleci/node:14.13.0
    parameters:
      stage:
        default: 'production'
        type: enum
        enum: ['production', 'preview']
    environment:
      CI_STAGE: << parameters.stage >>
    steps:
      - attach_workspace:
          at: .
      - copy-locales
      - persist_to_workspace:
          root: .
          paths:
            - ./*

  deploy:
    parameters:
      stage:
        default: 'production'
        type: enum
        enum: ['production', 'preview']
    docker:
      - image: circleci/node:14.13.0
    steps:
      - install-deps
      - attach_workspace:
          at: .
      - deploy-website:
          stage: << parameters.stage >>

workflows:
  commit-to-main:
    jobs:
      - build:
          name: build-for-<< matrix.stage >>
          filters:
            branches:
              only:
                - main
          matrix:
            parameters:
              stage: ['production', 'preview']

      - deploy:
          name: 'deploy-preview'
          stage: preview
          requires:
            - build-for-preview

      - hold-for-production-deploy:
          type: approval
          requires:
            - build-for-production

      - deploy:
          name: 'deploy-production'
          stage: production
          requires:
            - hold-for-production-deploy

  commit-to-feature-branches:
    jobs:
      - verify:
          filters:
            branches:
              ignore:
                - main

      - hold-for-preview-deploy:
          type: approval
          filters:
            branches:
              ignore:
                - main

      - build:
          stage: preview
          requires:
            - hold-for-preview-deploy

      - deploy:
          stage: preview
          requires:
            - build
