version: 2.1

commands:
  install-deps:
    steps:
      - checkout
      - run: sudo apt update && sudo apt install rsync sshpass
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps
      - run: |
          npm -v
          npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-deps-{{ checksum "package-lock.json" }}

  verify-and-build:
    steps:
      - run: npm run lint
      - run: npm test
      - run:
          command: npm build
          no_output_timeout: 5m

  deploy-website:
    steps:
      - run:
          name: Deploy to HK_1_HOST
          command: |
            ssh-keyscan "${HOST_HK_1_IP}" >> ~/.ssh/known_hosts 2>/dev/null
            sshpass -p ${HOST_HK_1_PASSWORD} rsync -avz -e 'ssh -p 22' --delete . "${HOST_HK_1_USER}@${HOST_HK_1_IP}:${DEPLOY_SERVICE_PATH}"
            sshpass -p ${HOST_HK_1_PASSWORD} ssh ${HOST_HK_1_USER}@${HOST_HK_1_IP} "cd ${DEPLOY_SERVICE_PATH} && npm run server:reload"

jobs:
  verify:
    docker:
      - image: circleci/node:14.13.0
    steps:
      - install-deps
      - verify-and-build
  deploy:
    docker:
      - image: circleci/node:14.13.0
    steps:
      - install-deps
      - verify-and-build
      - deploy-website

workflows:
  workflow:
    jobs:
      - verify
      - deploy:
          filters:
            branches:
              only:
                - main
