@import '~/styles/common';

$size-split: 1rem;

.wrapper {
  width: 100%;
  margin-bottom: $size-split;
  padding-bottom: $size-split;
  border-bottom: 1px solid #e8e8e8;
  a:hover {
    color: $B1;
  }
}

.title {
  @include P1;
  @include limit-line-count(1);
  font-weight: 400;
}

.metadata {
  @include P2(ZH);
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &_category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &_statistics {
    display: flex;
    &_reply_count {
      width: 4rem;
      text-align: right;
    }
    &_last_posted_at {
      width: 4rem;
      text-align: right;
      margin-left: 1rem;
    }
  }
}

$size-tag-color: 0.5rem;
.tag {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  &_color {
    @include radius($size-tag-color);
  }
  &_name {
    @include P2(ZH);
    color: rgba($B4, 0.7);
    margin-left: 0.5rem;
  }
}
