@import '~/styles/common';

.wrapper {
  padding: {
    top: 4rem;
  }
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include H1;
  color: $color-mva;
}

.summary {
  @include P1;
  color: $M2;
  margin-top: 2rem;
}

.buttons {
  margin-top: 3rem;
}

.image {
  padding: 0 5%;
  margin: {
    top: 6rem;
    bottom: -0.5rem;
    left: auto;
    right: auto;
  }
  text-align: center;
}
