@import 'styles/common';
@import '../common';

$size-avatar: 1.5rem;

@mixin hover-title($color) {
  color: $color;
  border-bottom: {
    color: $color;
  };
}

.with_color_1 {
  &:hover {
    border-color: $color-1;
    span {
      background-color: $color-1;
    }
    a {
      @include hover-title($color-1)
    }
  }
}

.with_color_2 {
  &:hover {
    border-color: $color-2;
    span {
      background-color: $color-2;
    }
    a {
      @include hover-title($color-2)
    }
  }
}

.with_color_3 {
  &:hover {
    border-color: $color-3;
    span {
      background-color: $color-3;
    }
    a {
      @include hover-title($color-3)
    }
  }
}

.wrapper {
  @include P1;
  border-bottom: 1px solid $T2;
  padding: 1rem 0;
  a {
    color: $F1;
    font-weight: 500;
  }
}

.dot {
  @include radius(.75rem);
  background-color: $B3;
  display: inline-block;
  margin-right: .5rem;
}
