@import '~/styles/common';

.link_with_arrow {
  position: relative;
  color: $primary;

  &:hover {
    color: $primary;

    @include responsive-gt-sm {
      svg {
        left: 0;
        opacity: 1;
      }

      span {
        left: 0;
      }
    }
  }

  svg,
  span {
    transition: 0.5s;
  }

  svg {
    @include responsive-gt-sm {
      left: -1rem;
      opacity: 0;
    }

    position: relative;
    top: 0.125rem;
    font-size: $size-7;
  }

  span {
    @include responsive-gt-sm {
      left: -1rem;
    }

    position: relative;
  }
}
