@import 'styles/common';

$size-avatar: 8rem;

.wrapper {

}

.avatar {
  img {
    width: $size-avatar;
    height: $size-avatar;
    border-radius: .5rem;
    overflow: hidden;
  }
}

.name {
  @include H3(ZH);
  margin-top: 1rem;
}

.role {
  @include P2(ZH);
  margin-top: .5rem;
}

.metadata {
  @include P2(ZH);
  margin-top: .5rem;
}
