@import 'styles/common';

.wrapper {
  padding: {
    bottom: 9rem;
  }
  background-color: #190F4B;
  color: $M1;
}

@mixin hover-with-blur {
  @include transition;
  &:hover {
    backdrop-filter: blur(.5rem);
  }
}

@mixin widget {
  position: absolute;
  z-index: 0;
  user-select: none;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 6rem;

  &_widget_1 {
    @include widget;
    width: 200px;
  }
  &_widget_2 {
    @include widget;
    width: 100px;
    left: 25%;
    bottom: 35%;
  }
  &_widget_3 {
    @include widget;
    width: 100px;
    right: 35%;
    top: 15%;
  }
  &_widget_line {
    @include widget;
    left: 20%;
  }

  &_intro {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    &_logo {
      @include hover-with-blur;
      width: 140px;
      padding: 1rem;
      border: 2px solid $color-mva;
      margin-bottom: 1rem;
    }
    &_text {
      max-width: 560px;
      margin: 0 3rem;
      &_title {
        @include hover-with-blur;
        @include H1(ZH);
        font-weight: 400;
        color: $color-mva;
      }
      &_summary {
        @include hover-with-blur;
        @include P1(ZH);
        font-weight: 300;
        color: $M1;
        margin-top: 1.75rem;
      }
    }
  }
  &_cup {
    z-index: 1;
    img {
      width: 360px;
    }
  }
}

.MVAs {
  text-align: center;
  margin-top: 6rem;
  &_title {
    @include H1(ZH);
    color: $color-mva;
    margin-bottom: 3rem;
  }
  &_list {
    margin-top: 3rem;
  }
}

.about {
  display: flex;
  margin-top: 9rem;
  position: relative;
  &_left {
    margin-right: 4rem;
    img {
      width: 360px;
    }
  }
  &_right {
    &_title {
      @include H1(ZH);
      color: $color-mva;
    }
    &_detail {
      @include P1(ZH);
      color: $M1;
      margin-top: 3rem;
    }
  }
}

.welfare {
  margin-top: 4rem;
  &_header {
    display: flex;
    justify-content: space-between;
    &_title {
      @include H1(ZH);
      color: $color-mva;
    }
    &_link {
      &_button {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        padding: .25rem 1rem;
        border: 2px solid $color-mva;
        color: $color-mva;
        &:hover {
          color: $color-mva;
        }
      }
    }
  }
  &_list {
    margin-top: 3rem;
    text-align: center;
  }
}

.become {
  margin-top: 9rem;
  &_title {
    @include H1(ZH);
    color: $color-mva;
    text-align: center;
    z-index: 1;
  }
  &_summary {
    @include P1(ZH);
    color: $M1;
    margin-top: 2rem;
    text-align: center;
    z-index: 1;
  }
  &_list {
    margin-top: 4rem;
    text-align: center;
    z-index: 1;
  }
  &_widget_line {
    @include widget;
    width: 480px;
    right: 5%;
  }
}
