@import 'styles/common';

.wrapper {
}

.header {
  background-color: #190F4C;
  &_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    margin-bottom: 6rem;
    @include responsive-lte-md {
      flex-direction: column;
    }
    &_left {
      padding: 1rem;
      &_title {
        @include H1(ZH);
        color: $M1;
      }
      &_summary {
        @include P1(ZH);
        color: $M1;
        margin-top: 2rem;
        line-height: 2;
      }
    }
    &_right {
      padding: 1rem;
      min-width: 20rem;
    }
  }
}

.organization_chart {
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    @include responsive-lte-md {
      padding: 0;
    }
    &_title {
      @include H1(ZH);
      color: $F1;
    }
    &_image {
      margin-top: 2rem;
      img {
        width: 100%;
      }
    }
  }
}

.how_to_become_wrapper {
  background-color: $M2;
}
.how_to_become {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding: {
    top: 4rem;
    bottom: 6rem;
  }
  &_title {
    @include H1(ZH);
    color: $F1;
  }
  &_list {
    @include P1(ZH);
    margin-top: 4rem;
    display: flex;
    align-items: center;
    @include responsive-lte-md {
      flex-direction: column;
      &_arrow {
        transform: rotate(90deg);
      }
    }
    &_arrow {
      margin: 2rem;
    }
  }
}

@mixin progress-step-header {
  padding: 0 2rem;
  margin-top: 3rem;
  &_header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -4rem;
    &_index {
      font: {
        size: 5rem;
        weight: 700;
      };
    }
    &_widget {
      position: relative;
      top: 2rem;
    }
  }
  &_text {
    margin-top: -5rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
  }
}
.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  padding: {
    top: 4rem;
    bottom: 6rem;
  }
  @include responsive-lte-md {
    flex-direction: column;
    align-items: center;
  }
  &_left {
    margin-right: 4rem;
    @include responsive-lte-md {
      margin-right: 0;
    }
    &_header {
      display: flex;
      &_icon {
      }
      &_text {
        margin-left: 1rem;
        &_title {
          @include H1(ZH);
          color: $F1;
        }
        &_summary {
          @include P1(ZH);
          line-height: 2;
          margin-top: 1.5rem;
          color: $F1;
        }
      }
    }
    &_step {
      &_1 {
        @include progress-step-header;
        background-color: #F2F7FB;
        &_header {
          &_index {
            color: $B1;
          }
          &_widget {

          }
        }
        &_text {
          @include P1(ZH);
          line-height: 2;
          color: $F1;
        }
      }
      &_2 {
        @include progress-step-header;
        background-color: #3738C6;
        &_header {
          &_index {
            color: $B2;
          }
          &_widget {

          }
        }
        &_text {
          @include P1(ZH);
          line-height: 2;
          color: $M1;
        }
      }
    }
  }
  &_right {
    text-align: right;
    @include responsive-lte-md {
      text-align: left;
      margin-top: 4rem;
    }
    &_icon {

    }
    &_chart {
      width: 360px;
      margin-top: 2rem;
    }
  }
}

.people {
  background-color: $M2;
  padding: 4rem 0;
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_title {
      @include H1(ZH);
      color: $F1;
    }
    &_summary {
      @include P1(ZH);
      color: $F1;
      margin-top: 1.5rem;
    }
    &_list {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      //align-items: center;
      flex-wrap: wrap;
    }
    &_split {
      height: 6rem;
    }
  }
}
