@import 'styles/common';

.wrapper {
  padding: {
    bottom: 9rem;
  }
  //background-color: #190F4B;
  //color: $M1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  &_title {
    @include H2(ZH);
    color: $M2;
  }
  &_summary {
    @include H2(ZH);
    color: $M2;
  }
}

.organization_chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  &_title {
    @include H2(ZH);
  }
  &_image {
    margin-top: 2rem;
  }
}

.how_to_become_wrapper {
  background-color: $M2;
}
.how_to_become {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  &_title {
    @include H2(ZH);
  }
  &_list {
    @include P1(ZH);
    margin-top: 4rem;
  }
}

.tmc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  &_title {
    @include H2(ZH);
  }
  &_summary {
    @include P1(ZH);
    margin-top: 2rem;
  }
  &_list {
    @include H2(ZH);
    margin-top: 2rem;
  }
}
