@import 'styles/common';

$width-logo: 8.75rem;

.wrapper {
  background: $M2;
  padding: 3rem 0;
}

.container {
}

@media screen and (max-width: $md) {
  .main {
    flex-direction: column !important;
    &_left {
      flex-direction: column !important;
      &_column {
        text-align: center;
        margin-right: 0 !important;
        margin-bottom: 3rem;
      }
    }
    &_right {
      &_brand {
        padding-top: 2rem;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &_left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_column {
      margin-right: 8rem;
      &_title {
        @include H3(ZH);
        color: $B4;
      }
      &_list {
        list-style: none;
        padding: 0;
        margin-top: 1.5rem;
        li:not(:last-child) {
          margin-bottom: 1rem;
        }
        li {
          a {
            @include P1(ZH);
            color: $B3;
            &:hover {
              color: $B1;
            }
          }
        }
      }
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &_brand {
      &_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: $width-logo;
        }
      }
      &_copyright {
        @include P1(ZH);
        text-align: center;
        margin-top: 1.5rem;
      }
    }
  }
}
