html,
body {
  padding: 0;
  margin: 0;
  font-family: Titillium Web, Helvetica Neue, Arial, noto sans, 'pingfang SC', 'microsoft yahei', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* antd-carousel slick active */
.slick-active button {
  background-color: #3d3fea !important;
}
