name: Reusable build

on:
  workflow_call:
    inputs:
      build-env:
        required: true
        type: string
    secrets:
      MAILCHIMP_DC:
        required: true
      MAILCHIMP_KEY:
        required: true
      MAILCHIMP_LIST_ID:
        required: true
      NEXT_PUBLIC_RECAPTCHA_KEY:
        required: true
      NEXT_PUBLIC_STRAPI_EMAIL:
        required: true
      NEXT_PUBLIC_STRAPI_PASSWORD:
        required: true
      DEPLOY_HOST:
        required: true
      DEPLOY_USER:
        required: true
      DEPLOY_PATH:
        required: true
      DEPLOY_INSTANCES_NUM:
        required: true
      DEPLOY_PRIVATE_KEY:
        required: true
      DOCKER_REGISTRY_ADDRESS:
        required: true
      DOCKER_REGISTRY_NAMESPACE:
        required: true
      DOCKER_REGISTRY_USERNAME:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.build-env }}
    steps:
      - uses: actions/checkout@v2.4.0
      - name: rsync deploy directory
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete
          path: deploy/
          remote_path: ${{ secrets.DEPLOY_PATH }}/deploy
          remote_host: ${{ secrets.DEPLOY_HOST }}
#          remote_port: ${{ secrets.DEPLOY_PORT }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
      - name: rsync env files
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete
          path: .env.*
          remote_path: ${{ secrets.DEPLOY_PATH }}/deploy/${{ inputs.build-env }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
#          remote_port: ${{ secrets.DEPLOY_PORT }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          script: |
            echo '${{ secrets.DOCKER_REGISTRY_PASSWORD }}' | sudo docker login ${{ secrets.DOCKER_REGISTRY_ADDRESS }}/${{ secrets.DOCKER_REGISTRY_NAMESPACE }} --username ${{ secrets.DOCKER_REGISTRY_USERNAME }} --password-stdin
            cd ${{ secrets.DEPLOY_PATH }}/deploy/${{ inputs.build-env }} && chmod +x ./deploy.sh && sh ./deploy.sh preview ${{ DOCKER_CONTAINER_NAME }} ${{ secrets.DOCKER_REGISTRY_ADDRESS }} ${{ secrets.DOCKER_REGISTRY_NAMESPACE }} ${{ DOCKER_IMAGE_NAME }} ${{ DOCKER_IMAGE_TAG }}
        envs:
          MAILCHIMP_DC: ${{ secrets.MAILCHIMP_DC }}
          MAILCHIMP_KEY: ${{ secrets.MAILCHIMP_KEY }}
          MAILCHIMP_LIST_ID: ${{ secrets.MAILCHIMP_LIST_ID }}
          NEXT_PUBLIC_RECAPTCHA_KEY: ${{ secrets.NEXT_PUBLIC_RECAPTCHA_KEY }}
          NEXT_PUBLIC_STRAPI_EMAIL: ${{ secrets.NEXT_PUBLIC_STRAPI_EMAIL }}
          NEXT_PUBLIC_STRAPI_PASSWORD: ${{ secrets.NEXT_PUBLIC_STRAPI_PASSWORD }}
          DOCKER_CONTAINER_NAME: tidb-community-website
          DOCKER_IMAGE_NAME: tidb-community-website
          DOCKER_IMAGE_TAG: tidb-community-website:${{ inputs.build-env }}-${{ runner.os }}-${{ github.sha }}
